.container{
    position: absolute;
    right: 1%;
    top: 4vh;
}
.wrap{
    display: flex;
    border: 0.25vh solid transparent;
    background: 
        linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) padding-box,
        linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(4, 109, 251, 0.8) ) border-box;
    ;
    opacity: 1.0;
    padding: 0vh;
    margin: 0vh 0.4vh;
    position: relative;
    top: 0;
    border-radius: 1vh; 
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    background-color: #005cda;
    opacity: 1.0;
    width: 3.5vh;
    height: 3.5vh;
    position: absolute;
    left: -2vh;
    top: -2vh;
    border: 0.2vh solid rgba(4, 109, 251, 0.8);
    border-radius: 0.5vh;
    box-shadow: 0vh 0vh 3vh 1vh #005ddc;
}
.number > div{
    color: white;
    font-size: 2vh;
    font-weight: bold;
    transform: rotate(-45deg);
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0vh 2vh;
    padding: 1vh;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}

.info > div{
    display: flex;
    color: white;
    margin: 0.5vh 0vh;
}

.address{
    color: #005cda;
    margin: 0vh 0.8vh;
    font-weight: bold;
}

.info > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info .first{
    font-weight: bold;
    font-size: 2vh;
}

.info .second{
    height: 1%;
}
.info .second img{
    background-color: white;
}

.info .third > div{
    background-color: white;
    color: black;
    padding: 0.2vh 0.4vh;
    margin: 0vh 0.5vh;
    border-radius: 0.2vh;
}

.mark{
    position: absolute;
    right: -0.8vh;
    top: 40%;
    transform: rotate(45deg);
}
.mark > div{
    width: 1.5vh;
    height: 1.5vh;
    opacity: 1.0;
    background-color: #005cda;
    border: 0.2vh solid rgba(4, 109, 251, 0.8);
    border-radius: 0.3vh;
    box-shadow: 0vh 0vh 3vh 1vh #005cda;
}